@import "../../components/modals/login-modal/login-modal.component.css";

.commander-container {
    padding: 20px;
    background: radial-gradient(circle at center, #0d1b2a, #020c1b);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.card {
    background-color: #12243a;
    border: 3px solid;
    border-radius: 10px;
    width: 200px;
    height: 260px;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.card img {
    width: 100px;
    margin: 20px auto;
}

.card .nickname {
    margin-top: 10px;
    font-weight: bold;
    color: #fff;
}

.card.active {
    border-color: #32CD32;
}

.card.enroute {
    border-color: #FFA500;
}

.card.destroyed {
    border-color: #FF4500;
}

/* .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  min-width: 300px;
} */
