<div class="modal" *ngIf="isOpen" (click)="closeModal()">
  <div class="modal-content" (click)="stopPropagation($event)">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Přihlášení</h2>

    <!-- Zpráva o výsledku přihlášení -->
    <div *ngIf="message" [ngClass]="{'success-msg': messageType === 'success', 'error-msg': messageType === 'error'}">
      {{ message }}
    </div>

    <!-- Formulář se skryje po úspěšném přihlášení -->
    <form *ngIf="messageType !== 'success'" (ngSubmit)="handleSubmit($event)">

      <input type="email" placeholder="E-mail" [(ngModel)]="email" name="email" required />
      <input type="password" placeholder="Heslo" [(ngModel)]="password" name="password" required />
      <button type="submit">Přihlásit se</button>
    </form>
    <div *ngIf="isLoading" class="loader-modal-overlay">
      <app-ui-loader></app-ui-loader>
    </div>
  </div>
</div>